/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.primary-font{
    font-family: 'Poppins', sans-serif!important;
}
.primary-bg{
    background: #289BDE!important;
}
.about-bg{
    background: #F4FAFD;
}
.overlay {
    position: absolute;
    width:100% ;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    background-color: rgba(0, 0, 0, 0.575);
    opacity: .7;
}